.cardContainer {
  overflow: hidden;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cardContentWrapper {
  padding: 24px;
}

@media (max-width: 420px) {
  .cardContainer {
    max-width: calc(100dvw - 40px) !important;
  }
}

@media (min-width: 641px) {
  .cardContentWrapper {
    padding: 20px 16px;
  }
}
