.cardContainer {
  overflow: hidden;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  border: 1px solid #e5e7eb;
}

.cardContentWrapper {
  padding: 24px;
}

@media (max-width: 420px) {
  .cardContainer {
    max-width: calc(100dvw - 40px) !important;
  }
}

@media (min-width: 641px) {
  .cardContentWrapper {
    padding: 20px 16px;
  }
}
