/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&family=Nunito:wght@400;600&display=swap");

:root {
  --red-100: #fee2e2;
  --red-600: #dc2626;
  --red-900: #7f1d1d;
}

/* Reset and Base Styles */
html {
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  letter-spacing: normal !important;
  font-weight: normal;
  line-height: 1.5 !important;
  background-color: #ffffff;
  color: #111827 !important;
  transition: all 0.3s ease-in-out !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif !important;
  letter-spacing: normal !important;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
}

/* Paragraphs */
p {
  margin-bottom: 1rem;
}

/* Lists */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out !important;
}

/* Buttons */
button {
  font-family: "Merriweather Sans", sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Inputs and Textareas */
input,
textarea {
  font-family: "Nunito", sans-serif !important;
  font-size: 14px !important;
  line-height: 1.25 !important;
  border: 1px solid #d1d5db !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  color: #111827 !important;
  transition: border-color 0.1s ease-in-out, outline-offset 0.1s ease-in-out !important;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--primary-color) !important;
  outline-offset: 2px !important;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1 !important;
  transition: border-color 0.1s ease-in-out, outline-offset 0.1s ease-in-out !important;
}

textarea {
  resize: vertical;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
}
