@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    line-height: 1;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #000000;
  }

  input:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ff355e;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid white;
  }

  input[type="range"]::-moz-range-thumb {
    background-color: #ff3553;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
  }

  button {
    font-family: "Merriweather Sans", sans-serif;
    transition: all 0.3s ease-in-out;
  }

  a {
    text-decoration: inherit;
    transition: all 0.3s ease-in-out;
  }

  body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    transition: all 0.3s ease-in-out;
  }
}
